/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {
  background-color: rgb(71, 70, 69);
}
select {
  background-color: greenyellow;
  font-size: 1.3em;
  
}

button {
  font-size: 1.2em;
  
  border-radius: 5px;
  background-color: grey;
}

button:hover {
  background-color: rgb(42, 243, 16);
  cursor: pointer;
}

h1 {
  color: rgb(6, 100, 163);
  font-size: 3em;
}

h2 {
  display: flex;
  color: rgb(252, 180, 122);
  border-bottom: 1px solid white;
}
a {
  color: rgb(221, 224, 221);
  font-size: 1.1em;
}

a {
  font-size: 1em;
}

a:visited {
  color: rgb(182, 96, 110);
  
} 