/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 * {
   margin: 0;
   padding: 0;
 }
 body {
  background-color: black;
}
select {
  background-color: greenyellow;
  font-size: 1.3em;
  
}

button {
  font-size: 1.2em;
  
  border-radius: 5px;
  background-color: grey;
}

button:hover {
  background-color: rgb(42, 243, 16);
  cursor: pointer;
}

h1 {
  color: rgb(6, 100, 163);
  font-size: 3em;
  margin-top: 100px;
  margin-bottom: 50px;
  margin-left: 50px;
}
h2 {
  display: flex;
  color: rgb(252, 180, 122);
  border-bottom: 1px solid white;
}
a {
  color: rgb(221, 224, 221);
  font-size: 1.1em;
}

a {
  font-size: 1em;
}

a:visited {
  color: rgb(182, 96, 110);
  
} 

nav {
  background-color: rgb(75, 78, 75);
  padding: 15px 0px;
  box-shadow: 1px 1px 10px white;
  
  
}
ul {
  display: flex;
  
  justify-content: space-around;
  list-style: none;
  

}

li a {
  text-decoration: none;
  font-size: 20px;
  color: black;
  
}
li a:visited {
  text-decoration: none;
  font-size: 20px;
  color: black;
}

li a:hover {
  text-decoration: underline;
  text-shadow: 0px 0px 10px rgb(129, 219, 129);
}
/*-----------------billboard styles-----------------  */
.cardList {
display: grid;
grid-template-columns: auto auto auto auto;
justify-content: space-around;

}


.holy {
  background-color: rgba(24,24,24,255);
  display: grid;
  margin: 10px;
  grid-template-columns: auto ;
  width: auto;
  height: auto;
  border-radius: 5px;
  padding: 20px 30px;
}

.holy:hover {
  background-color: rgba(39,39,39,255)
}

.holyh {
  color: rgba(255,255,255,255);
  font-size: 1.5em;
  width: 200px;
  display: flex;
  width: 200px;
  justify-content: center;
}



img {
  justify-self: center;
  width: 200px;
  padding-bottom: 10px;
}


.holycard {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: auto;
  height: auto;
}



a.links {
  color: rgba(160,160,160,255);
}

a.links:hover {
  color: skyblue;
  text-shadow: 0px 0px 10px white;

}
/*----------End of billboard styles-------------*/

/*--------- Artist Styles --------------*/

